/*\====================================
|*| Functional CSS
\*/
:root {
  --face-select-scale: 4px
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  image-rendering: pixelated;
}

textarea {
  height: 200px;
  width: 100%;
}

#camera {
  width: 100%;
  height: 100%;
  min-width: none;
}

#setting {
  width: 100%;
  height: 100%;
}

.PixelSettingsItem {
  margin: 4px;
  background-color: lightgreen;
  padding: 5px;
}

.debug {
  background-color: lightcoral;
}

.FaceSelectFixedResolution {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: calc(64 * var(--face-select-scale));
  width: calc(64 * var(--face-select-scale));
  background-size: var(--face-select-scale) var(--face-select-scale);
  background-color: #ffffff;
  background-image:
    linear-gradient(to right, #aaaaaa 1px, transparent 1px),
    linear-gradient(to bottom, #aaaaaa 1px, transparent 1px);
}

#winUVPreviewOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2
}

#winSkinPreviewOverlayGrid {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(64, var(--face-select-scale));
  grid-template-rows: repeat(64, var(--face-select-scale));
  grid-template-areas:
    ".    .    .    .    .    .    .    .    fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi01 fi01 fi01 fi01 fi01 fi01 fi01 fi01 .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi37 fi37 fi37 fi37 fi37 fi37 fi37 fi37 .    .    .    .    .    .    .    .   "
    ".    .    .    .    .    .    .    .    fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi01 fi01 fi01 fi01 fi01 fi01 fi01 fi01 .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi37 fi37 fi37 fi37 fi37 fi37 fi37 fi37 .    .    .    .    .    .    .    .   "
    ".    .    .    .    .    .    .    .    fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi01 fi01 fi01 fi01 fi01 fi01 fi01 fi01 .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi37 fi37 fi37 fi37 fi37 fi37 fi37 fi37 .    .    .    .    .    .    .    .   "
    ".    .    .    .    .    .    .    .    fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi01 fi01 fi01 fi01 fi01 fi01 fi01 fi01 .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi37 fi37 fi37 fi37 fi37 fi37 fi37 fi37 .    .    .    .    .    .    .    .   "
    ".    .    .    .    .    .    .    .    fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi01 fi01 fi01 fi01 fi01 fi01 fi01 fi01 .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi37 fi37 fi37 fi37 fi37 fi37 fi37 fi37 .    .    .    .    .    .    .    .   "
    ".    .    .    .    .    .    .    .    fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi01 fi01 fi01 fi01 fi01 fi01 fi01 fi01 .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi37 fi37 fi37 fi37 fi37 fi37 fi37 fi37 .    .    .    .    .    .    .    .   "
    ".    .    .    .    .    .    .    .    fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi01 fi01 fi01 fi01 fi01 fi01 fi01 fi01 .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi37 fi37 fi37 fi37 fi37 fi37 fi37 fi37 .    .    .    .    .    .    .    .   "
    ".    .    .    .    .    .    .    .    fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi00 fi01 fi01 fi01 fi01 fi01 fi01 fi01 fi01 .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi36 fi37 fi37 fi37 fi37 fi37 fi37 fi37 fi37 .    .    .    .    .    .    .    .   "
    "fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi41 fi41 fi41 fi41 fi41 fi41 fi41 fi41"
    "fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi41 fi41 fi41 fi41 fi41 fi41 fi41 fi41"
    "fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi41 fi41 fi41 fi41 fi41 fi41 fi41 fi41"
    "fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi41 fi41 fi41 fi41 fi41 fi41 fi41 fi41"
    "fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi41 fi41 fi41 fi41 fi41 fi41 fi41 fi41"
    "fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi41 fi41 fi41 fi41 fi41 fi41 fi41 fi41"
    "fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi41 fi41 fi41 fi41 fi41 fi41 fi41 fi41"
    "fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi02 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi03 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi04 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi05 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi38 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi39 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi40 fi41 fi41 fi41 fi41 fi41 fi41 fi41 fi41"
    ".    .    .    .    fi24 fi24 fi24 fi24 fi25 fi25 fi25 fi25 .    .    .    .    .    .    .    .    fi06 fi06 fi06 fi06 fi06 fi06 fi06 fi06 fi07 fi07 fi07 fi07 fi07 fi07 fi07 fi07 .    .    .    .    .    .    .    .    fi12 fi12 fi12 fi12 fi13 fi13 fi13 fi13 .    .    .    .    .    .    .    .    .    .    .    .   "
    ".    .    .    .    fi24 fi24 fi24 fi24 fi25 fi25 fi25 fi25 .    .    .    .    .    .    .    .    fi06 fi06 fi06 fi06 fi06 fi06 fi06 fi06 fi07 fi07 fi07 fi07 fi07 fi07 fi07 fi07 .    .    .    .    .    .    .    .    fi12 fi12 fi12 fi12 fi13 fi13 fi13 fi13 .    .    .    .    .    .    .    .    .    .    .    .   "
    ".    .    .    .    fi24 fi24 fi24 fi24 fi25 fi25 fi25 fi25 .    .    .    .    .    .    .    .    fi06 fi06 fi06 fi06 fi06 fi06 fi06 fi06 fi07 fi07 fi07 fi07 fi07 fi07 fi07 fi07 .    .    .    .    .    .    .    .    fi12 fi12 fi12 fi12 fi13 fi13 fi13 fi13 .    .    .    .    .    .    .    .    .    .    .    .   "
    ".    .    .    .    fi24 fi24 fi24 fi24 fi25 fi25 fi25 fi25 .    .    .    .    .    .    .    .    fi06 fi06 fi06 fi06 fi06 fi06 fi06 fi06 fi07 fi07 fi07 fi07 fi07 fi07 fi07 fi07 .    .    .    .    .    .    .    .    fi12 fi12 fi12 fi12 fi13 fi13 fi13 fi13 .    .    .    .    .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    "fi26 fi26 fi26 fi26 fi27 fi27 fi27 fi27 fi28 fi28 fi28 fi28 fi29 fi29 fi29 fi29 fi08 fi08 fi08 fi08 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi09 fi10 fi10 fi10 fi10 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi11 fi14 fi14 fi14 fi14 fi15 fi15 fi15 fi15 fi16 fi16 fi16 fi16 fi17 fi17 fi17 fi17 .    .    .    .    .    .    .    .   "
    ".    .    .    .    fi48 fi48 fi48 fi48 fi49 fi49 fi49 fi49 .    .    .    .    .    .    .    .    fi66 fi66 fi66 fi66 fi66 fi66 fi66 fi66 fi67 fi67 fi67 fi67 fi67 fi67 fi67 fi67 .    .    .    .    .    .    .    .    fi60 fi60 fi60 fi60 fi61 fi61 fi61 fi61 .    .    .    .    .    .    .    .    .    .    .    .   "
    ".    .    .    .    fi48 fi48 fi48 fi48 fi49 fi49 fi49 fi49 .    .    .    .    .    .    .    .    fi66 fi66 fi66 fi66 fi66 fi66 fi66 fi66 fi67 fi67 fi67 fi67 fi67 fi67 fi67 fi67 .    .    .    .    .    .    .    .    fi60 fi60 fi60 fi60 fi61 fi61 fi61 fi61 .    .    .    .    .    .    .    .    .    .    .    .   "
    ".    .    .    .    fi48 fi48 fi48 fi48 fi49 fi49 fi49 fi49 .    .    .    .    .    .    .    .    fi66 fi66 fi66 fi66 fi66 fi66 fi66 fi66 fi67 fi67 fi67 fi67 fi67 fi67 fi67 fi67 .    .    .    .    .    .    .    .    fi60 fi60 fi60 fi60 fi61 fi61 fi61 fi61 .    .    .    .    .    .    .    .    .    .    .    .   "
    ".    .    .    .    fi48 fi48 fi48 fi48 fi49 fi49 fi49 fi49 .    .    .    .    .    .    .    .    fi66 fi66 fi66 fi66 fi66 fi66 fi66 fi66 fi67 fi67 fi67 fi67 fi67 fi67 fi67 fi67 .    .    .    .    .    .    .    .    fi60 fi60 fi60 fi60 fi61 fi61 fi61 fi61 .    .    .    .    .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    "fi50 fi50 fi50 fi50 fi51 fi51 fi51 fi51 fi52 fi52 fi52 fi52 fi53 fi53 fi53 fi53 fi68 fi68 fi68 fi68 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi69 fi70 fi70 fi70 fi70 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi71 fi62 fi62 fi62 fi62 fi63 fi63 fi63 fi63 fi64 fi64 fi64 fi64 fi65 fi65 fi65 fi65 .    .    .    .    .    .    .    .   "
    ".    .    .    .    fi42 fi42 fi42 fi42 fi43 fi43 fi43 fi43 .    .    .    .    .    .    .    .    fi30 fi30 fi30 fi30 fi31 fi31 fi31 fi31 .    .    .    .    .    .    .    .    fi18 fi18 fi18 fi18 fi19 fi19 fi19 fi19 .    .    .    .    .    .    .    .    fi54 fi54 fi54 fi54 fi55 fi55 fi55 fi55 .    .    .    .   "
    ".    .    .    .    fi42 fi42 fi42 fi42 fi43 fi43 fi43 fi43 .    .    .    .    .    .    .    .    fi30 fi30 fi30 fi30 fi31 fi31 fi31 fi31 .    .    .    .    .    .    .    .    fi18 fi18 fi18 fi18 fi19 fi19 fi19 fi19 .    .    .    .    .    .    .    .    fi54 fi54 fi54 fi54 fi55 fi55 fi55 fi55 .    .    .    .   "
    ".    .    .    .    fi42 fi42 fi42 fi42 fi43 fi43 fi43 fi43 .    .    .    .    .    .    .    .    fi30 fi30 fi30 fi30 fi31 fi31 fi31 fi31 .    .    .    .    .    .    .    .    fi18 fi18 fi18 fi18 fi19 fi19 fi19 fi19 .    .    .    .    .    .    .    .    fi54 fi54 fi54 fi54 fi55 fi55 fi55 fi55 .    .    .    .   "
    ".    .    .    .    fi42 fi42 fi42 fi42 fi43 fi43 fi43 fi43 .    .    .    .    .    .    .    .    fi30 fi30 fi30 fi30 fi31 fi31 fi31 fi31 .    .    .    .    .    .    .    .    fi18 fi18 fi18 fi18 fi19 fi19 fi19 fi19 .    .    .    .    .    .    .    .    fi54 fi54 fi54 fi54 fi55 fi55 fi55 fi55 .    .    .    .   "
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
    "fi44 fi44 fi44 fi44 fi45 fi45 fi45 fi45 fi46 fi46 fi46 fi46 fi47 fi47 fi47 fi47 fi32 fi32 fi32 fi32 fi33 fi33 fi33 fi33 fi34 fi34 fi34 fi34 fi35 fi35 fi35 fi35 fi20 fi20 fi20 fi20 fi21 fi21 fi21 fi21 fi22 fi22 fi22 fi22 fi23 fi23 fi23 fi23 fi56 fi56 fi56 fi56 fi57 fi57 fi57 fi57 fi58 fi58 fi58 fi58 fi59 fi59 fi59 fi59"
  ;
}

/* The container */
.SkinPreviewOverlayItemWrapper {
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/* Hide the browser's default checkbox */
.SkinPreviewOverlayItemWrapper input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.SkinPreviewOverlayItemVisual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* On mouse-over, add a grey background color */
.SkinPreviewOverlayItemWrapper:hover input~.SkinPreviewOverlayItemVisual {
  background-color: rgba(127, 255, 127, 0.5);
  outline: 2px solid rgba(127, 255, 127, 1);
}

.SkinPreviewOverlayItemWrapper input:checked~.SkinPreviewOverlayItemVisual {
  background-color: rgba(222, 255, 222, 0.5);
  outline: 2px solid rgba(222, 255, 222, 1);
}

.UVPreviewOverlayItem {
  background-color: rgba(222, 255, 222, 0.5);
  outline: 2px solid rgba(222, 255, 222, 1);
}

.UVPreviewOverlayItem:hover {
  background-color: rgba(127, 255, 127, 0.5);
  outline: 2px solid rgba(127, 255, 127, 1);
}

#winEditorGrid {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: 260px auto 50%;
  grid-template-rows: 32px 260px auto;
  grid-template-areas:
    "header header header"
    "faceselect globaltransform transform"
    "camera camera json"
  ;
}

#winHeader {
  grid-area: header;
  min-width: 0;
  background-color: lightgreen;
  padding: 5px;
}

#winGlobal {
  grid-area: globaltransform;
  min-width: 0;
  padding: 5px;
}

#winFaceSelect {
  background-color: #666666;
  grid-area: faceselect;
  min-width: 0;
}

#canvasSkinPreview {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

#canvasUVPreview {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

#winFaceTransformSettings {
  grid-area: transform;
  min-width: 0;
}

#winCamera {
  grid-area: camera;
  min-width: 0;
}

/*\====================================
|*| Pretty CSS
\*/

/* Hide the real file input */
.hidden {
  display: none;
}

button {
  font-size: small;
  padding: 5px 10px;
  margin-bottom: 2px;
  background-color: lightgray;
  border: 1px solid #000;
  border-radius: 5px;
}

button:hover {
  background-color: gray;
}

/* Style the custom button */
.button {
  display: inline-block;
  cursor: pointer;

  font-size: small;
  padding: 5px 10px;
  margin-bottom: 2px;
  background-color: lightgray;
  border: 1px solid #000;
  border-radius: 5px;
}

.button:hover {
  background-color: gray;
}